body {
    background-color: cornflowerblue;
}

h1 {
    color: rgb(239, 236, 236);
    font-weight: 800;
    margin-top: 6rem;
}

hr {
    border: 2px solid;
}

input:hover {
    border: 2px solid cornflowerblue;
}

.ctn2 {
    height: 65vh;
}